@use "../../spectre.css/variables" as *;

// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    background: rgba($success--rgb-triplet, .3);
    border-color: $success;
    &:focus {
      box-shadow: 0 0 0 .1rem rgba($success--rgb-triplet, .2);
    }
  }

  .has-error &,
  &.is-error {
    background: rgba($failure--rgb-triplet, .3);
    border-color: $failure;
    &:focus {
      box-shadow: 0 0 0 .1rem rgba($failure--rgb-triplet, .2);
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    background-color: $body-bg-monochrome;
    cursor: not-allowed;
    opacity: .5;
  }
}
