.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  line-height: var(--line-height);
  margin: calc((var(--control-height-md) - var(--control-height-sm)) / 2) 0;
  min-height: var(--control-height-sm);
  padding: calc((var(--control-height-sm) - var(--line-height)) / 2) var(--control-padding-x-md) calc((var(--control-height-sm) - var(--line-height)) / 2) calc(var(--control-icon-size) + var(--control-padding-x-md));
  position: relative;
}

.form-checkbox input,
.form-radio input,
.form-switch input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form-checkbox input:focus+.form-icon,
.form-radio input:focus+.form-icon,
.form-switch input:focus+.form-icon {
  box-shadow: 0 0 0 0.1rem rgba(var(--primary--rgb-triplet));
  border-color: var(--primary);
}

.form-checkbox input:checked+.form-icon,
.form-radio input:checked+.form-icon,
.form-switch input:checked+.form-icon {
  background: var(--primary);
  border-color: var(--primary);
}

.form-checkbox .form-icon,
.form-radio .form-icon,
.form-switch .form-icon {
  border-width: var(--border-width-md);
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
}

.form-checkbox.input-sm,
.form-radio.input-sm,
.form-switch.input-sm,
.form-group-sm .form-checkbox,
.form-group-sm .form-radio,
.form-group-sm .form-switch {
  font-size: var(--font-size-sm);
  margin: 0;
}

.form-checkbox.input-lg,
.form-radio.input-lg,
.form-switch.input-lg,
.form-group-lg .form-checkbox,
.form-group-lg .form-radio,
.form-group-lg .form-switch {
  font-size: var(--font-size-lg);
  margin: var(--control-height-lg) - var(--control-height-sm) / 2 0;
}

.has-error .form-checkbox .form-icon,
.has-error .form-radio .form-icon,
.has-error .form-switch .form-icon,
.form-checkbox.is-error .form-icon,
.form-radio.is-error .form-icon,
.form-switch.is-error .form-icon {
  border-color: var(--failure);
}

.has-error .form-checkbox input:checked+.form-icon,
.has-error .form-radio input:checked+.form-icon,
.has-error .form-switch input:checked+.form-icon,
.form-checkbox.is-error input:checked+.form-icon,
.form-radio.is-error input:checked+.form-icon,
.form-switch.is-error input:checked+.form-icon {
  background: var(--failure);
  border-color: var(--failure);
}

.has-error .form-checkbox input:focus+.form-icon,
.has-error .form-radio input:focus+.form-icon,
.has-error .form-switch input:focus+.form-icon,
.form-checkbox.is-error input:focus+.form-icon,
.form-radio.is-error input:focus+.form-icon,
.form-switch.is-error input:focus+.form-icon {
  box-shadow: 0 0 0 0.1rem rgba(var(--failure--rgb-triplet));
  border-color: var(--failure);
}
