.bg-primary {
  background-color: var(--primary) !important;
  color: var(--primary-text) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
  color: var(--secondary-text) !important;
}

.bg-success {
  background-color: var(--success) !important;
  color: var(--success-text) !important;
}

.bg-warning {
  background-color: var(--warning) !important;
  color: var(--warning-text) !important;
}

.bg-failure {
  background-color: var(--failure) !important;
  color: var(--failure-text) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
  color: var(--gray-text) !important;
}
