.accordion-item {
  border-top: 1px solid gray;
}

.accordion-item:last-of-type {
  border-bottom: 1px solid gray;
}

.accordion-item input:checked~.accordion-header>.icon:first-child,
.accordion-item[open] .accordion-header>.icon:first-child {
  transform: rotate(90deg);
}

.accordion-item input:checked~.accordion-body,
.accordion-item[open] .accordion-body {
  max-height: 50rem;
}

.accordion-item:not([open]) .accordion-icon-open {
  display: none;
}

.accordion-item[open] .accordion-icon-closed {
  display: none;
}

.accordion-item .accordion-header {
  cursor: pointer;
}

.accordion-item .accordion-header:hover {
  background-color: var(--body-bg-monochrome);
}

.accordion-item .accordion-header,
.accordion-item .accordion-body {
  display: block;
}

.accordion-item.padded .accordion-header,
.accordion-item.padded .accordion-body {
  padding: var(--unit-1) var(--unit-2);
}

.accordion-item .accordion-header .icon {
  transition: transform 0.25s;
}

.accordion-item .accordion-body {
  margin-bottom: var(--layout-spacing-md);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}

summary.accordion-header::-webkit-details-marker {
  display: none;
}
