code {
  border-radius: 0.1rem;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
  background: var(--highlight);
  color: var(--highlight-text);
  font-size: 85%;
}

.code {
  font-family: var(--mono-font-family);
  border-radius: var(--control-border-radius);
  color: var(--body-fg);
  position: relative;
}

.code::before {
  color: gray;
  content: attr(data-lang);
  font-size: var(--font-size-sm);
  position: absolute;
  right: var(--layout-spacing-md);
  top: var(--unit-h);
}

.code code {
  background: var(--body-bg);
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}
