@keyframes placeHolderShimmer {
  0% {
    background-position: -750px 0;
  }

  100% {
    background-position: 750px 0;
  }
}

.loading-placeholder {
  margin: 0;
  background-color: rgba(var(--body-bg-monochrome--rgb-triplet));
  border-radius: var(--control-border-radius);
}

.loading-placeholder.inline {
  display: inline-block;
}

.loading-placeholder-gradient {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: rgba(var(--body-bg-monochrome--rgb-triplet));
  background: linear-gradient(to right, rgba(var(--body-bg-monochrome--rgb-triplet)) 10%, rgba(var(--body-bg-monochrome--rgb-triplet)) 18%, rgba(var(--body-bg-monochrome--rgb-triplet)) 33%);
  background-size: 100em 104px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.loading-placeholder-gradient .spectre-icon {
  margin-left: auto;
  margin-right: auto;
  color: rgba(var(--body-fg-monochrome--rgb-triplet));
}
