@use "spectre.css/variables" as *;
@use "spectre.css/mixins/label" as *;

// Codes
code {
  @include label-base();
  @include label-variant($highlight-text, $highlight);
  font-size: 85%;
}

.code {
  font-family: $mono-font-family;
  border-radius: $control-border-radius;
  color: $body-fg;
  position: relative;

  &::before {
    color: gray;
    content: attr(data-lang);
    font-size: $font-size-sm;
    position: absolute;
    right: $layout-spacing-md;
    top: $unit-h;
  }

  code {
    background: $body-bg;
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}
