@use "spectre.css/variables" as *;

// Divider
.divider,
.divider-vert {
  display: block;
  position: relative;

  &[data-content]::after {
    background: $body-bg;
    color: $body-fg;
    content: attr(data-content);
    display: inline-block;
    font-size: $font-size-sm;
    padding: 0 $unit-2;
    transform: translateY(calc(($font-size-sm * -1) + $border-width-md));
  }
}

.divider {
  border-top: $border-width-md solid lightgray;
  height: $border-width-md;
  margin: $unit-2 0;

  width: 100%;
  text-align: center;
  margin-left: $layout-spacing-md;
  margin-right: $layout-spacing-md;

  &[data-content] {
    margin-top: $unit-4;
    margin-bottom: $unit-4;
  }
}

.menu {
  .divider {
    width: auto;
  }
}

.divider-vert {
  display: block;
  padding: $unit-4;

  &::before {
    border-left: $border-width-md solid lightgray;
    bottom: $unit-2;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: $unit-2;
    transform: translateX(-50%);
  }

  &[data-content]::after {
    left: 50%;
    padding: $unit-1 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
