@use "spectre.css/variables" as *;

// Navbar
.navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;

  &:not(.navbar-expanded) {
    &.navbar-sm {
      min-height: $unit-8;
    }

    &.navbar-lg {
      min-height: $unit-12;
    }
  }

  &.navbar-filled {
    background: $body-bg;
  }

  &.navbar-padded {
    padding-top: $unit-2;
    padding-bottom: $unit-2;
  }

  .navbar-section {
    align-items: center;
    display: flex;
    flex: 1 0 0;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }

    &:not(:first-child):not(:last-child) {
      flex: 0 0 auto;
    }

    > .navbar-brand {
      margin-left: 0;
      margin-right: $unit-5;
    }

    > .dropdown {
      height: 100%;

      .menu {
        top: 92%;

        // border-top: 2px solid $body-bg-monochrome;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
      }
    }

    > .btn-link,
    .column > .btn-link,
    .dropdown > .btn-link {
      color: $body-fg;

      height: 100%;
      border-radius: 0;
      padding-left: $unit-4;
      padding-right: $unit-4;

      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;

      &:hover {
        background: rgba($body-bg-monochrome--rgb-triplet, 0.69);
        color: $body-fg;
      }

      &.active {
        border-bottom: 1px solid $primary;
        color: $body-fg;
      }
    }
  }

  // .navbar-center {
  //   align-items: center;
  //   display: flex;
  //   flex: 0 0 auto;
  // }

  .navbar-brand {
    font-size: $font-size-lg;
    text-decoration: none;
    display: flex;
    align-items: center;

    a {
      display: flex;
    }
  }

  .navbar-burger {
    margin-left: auto;
    display: none;

    @media (max-width: $size-md) {
      display: block;
    }
  }

  > .container {
    display: flex;
  }

  &.navbar-responsive {
    @media (max-width: $size-md) {
      padding-top: $unit-2;
      padding-bottom: $unit-2;
      // overflow: hidden;

      &:not(.navbar-expanded) {
        &.navbar-sm {
          min-height: unset;
        }

        &.navbar-lg {
          min-height: unset;
        }
      }

      .navbar-section {
        min-width: 100%;

        &:not(:last-child) {
          flex-direction: column;

          > .btn-link,
          .column > .btn-link,
          .dropdown,
          [data-dropdown-toggle] {
            width: 100%;
            justify-content: flex-start;
            margin-top: $unit-2;
          }

          > .dropdown {
            display: flex;
            flex-direction: column;

            .menu {
              display: block;
              position: relative;
              top: unset;
              left: unset;
              animation: unset;
              max-height: unset;
              overflow-y: unset;
              box-shadow: unset;
              border-radius: unset;
              background: transparent;
              padding: 0 0 $unit-2 0;

              .menu-item {
                padding: 0 $unit-8;

                & > a {
                  margin: 0 calc($unit-8 * -1);
                  padding: $unit-1 $unit-8;
                }
              }
            }
          }
        }

        &:last-child {
          margin-top: $unit-2;
        }
      }

      > .container {
        flex-direction: column;
        max-width: 100%;
      }

      .navbar-brand {
        min-width: 100%;
        margin-right: 0;
      }

      &:not(.navbar-expanded) {
        flex-direction: unset;

        .navbar-section {
          > :not(.navbar-brand) {
            display: none;
          }
        }

        > .container {
          flex-direction: unset;
          overflow: hidden;
        }
      }

      // &.navbar-sm {
      //   max-height: $unit-12;
      // }

      // &.navbar-lg {
      //   max-height: $unit-16;
      // }

      // .navbar-section {
      //   &:first-child {
      //     > :not(.navbar-brand) {
      //       display: none;
      //     }
      //   }
      // }
    }
  }
}
