@use "spectre.css/variables" as *;

// Layout
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-spacing-md;
  padding-right: $layout-spacing-md;
  width: 100%;

  &.container-flex {
    display: flex;
    flex-direction: column;
  }

  &.container-grow {
    flex-grow: 1;
  }

  &.container-with-y-margin {
    &:not(:last-of-type) {
      margin-bottom: $layout-spacing-lg;
    }

    &:first-of-type {
      margin-top: $layout-spacing-lg;
    }
  }

  &.container-left {
    margin-left: 0;
  }

  &.grid-xxl {
    max-width: calc(($layout-spacing-md * 2) + $size-xxl);
  }

  &.grid-xl {
    max-width: calc(($layout-spacing-md * 2) + $size-xl);
  }

  &.grid-lg {
    max-width: calc(($layout-spacing-md * 2) + $size-lg);
  }

  &.grid-md {
    max-width: calc(($layout-spacing-md * 2) + $size-md);
  }

  &.grid-sm {
    max-width: calc(($layout-spacing-md * 2) + $size-sm);
  }

  &.grid-xs {
    max-width: calc(($layout-spacing-md * 2) + $size-xs);
  }
}

// Responsive breakpoint system
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
  display: none !important;
}

@media (max-width: $size-xl) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
}
@media (max-width: $size-lg) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
}
@media (max-width: $size-md) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}
@media (max-width: $size-sm) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
}
@media (max-width: $size-xs) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
}
