@use "spectre.css/variables" as *;

// Tables
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: rgba($body-bg-monochrome--rgb-triplet, 0.25);
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          background: $body-bg-monochrome;
        }
      }
    }
  }

  &.table-hover:not(.table-loading) {
    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background: rgba($body-bg-monochrome--rgb-triplet, 0.75);
        }
      }
    }
  }

  td,
  th {
    border-bottom: $border-width-md solid rgba($body-fg-monochrome--rgb-triplet, 0.85);
    padding: $unit-3 $unit-2;
  }
  th {
    border-bottom-width: $border-width-lg;

    &.th-clickable {
      cursor: pointer;
      user-select: none;
    }
  }

  &.table-loading {
    td {
      border-color: transparent;
    }
  }
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &.sticky {
    .table-toolbar,
    .table-pagination {
      background: rgba($body-bg--rgb-triplet, 0.925);
      position: sticky;
      z-index: 1;
    }

    .table-toolbar {
      top: 0;
    }

    .table-pagination {
      bottom: 0;
    }
  }
}

.table-scroll-container {
  flex-grow: 1;
  overflow-x: auto;
}
