@use "spectre.css/variables" as *;
@use "spectre.css/mixins/text" as *;

// Tiles
.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;

  .tile-icon,
  .tile-action {
    flex: 0 0 auto;
  }
  .tile-body {
    flex: 1 1 auto;
    &:not(:first-child) {
      padding-left: $unit-2;
    }
    &:not(:last-child) {
      padding-right: $unit-2;
    }
  }
  .tile-title,
  .tile-subtitle {
    line-height: $line-height;
  }

  &.tile-centered {
    align-items: center;

    .tile-body {
      overflow: hidden;
    }

    .tile-title,
    .tile-subtitle {
      @include text-ellipsis();
      margin-bottom: 0;
    }
  }

  .tile-icon > .tile-icon-box {
    align-content: space-around;
    align-items: center;
    background: $primary;
    border-radius: $control-border-radius;
    color: $primary-text;
    display: flex;
    font-size: $line-height;
    height: $unit-10;
    width: $unit-10;

    > .icon {
      margin: auto;
    }
  }
}
