.form-checkbox .form-icon,
.form-radio .form-icon {
  background: var(--body-bg);
  height: var(--control-icon-size);
  left: 0;
  top: calc((var(--control-height-sm) - var(--control-icon-size)) / 2);
  width: var(--control-icon-size);
}

.form-checkbox input:active+.form-icon,
.form-radio input:active+.form-icon {
  background: var(--body-bg);
}
