@use "../../spectre.css/variables" as *;

.form-checkbox,
.form-radio {
  .form-icon {
    background: $body-bg;
    height: $control-icon-size;
    left: 0;
    top: calc(($control-height-sm - $control-icon-size) / 2);
    width: $control-icon-size;
  }

  input {
    &:active + .form-icon {
      background: $body-bg;
    }
  }
}
