@use "../../spectre.css/variables" as *;

// Form element: Checkbox and Radio
.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  line-height: $line-height;
  margin: calc(($control-height-md - $control-height-sm) / 2) 0;
  min-height: $control-height-sm;
  padding: calc(($control-height-sm - $line-height) / 2) $control-padding-x-md calc(($control-height-sm - $line-height) / 2) calc($control-icon-size + $control-padding-x-md);
  position: relative;

  input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    &:focus + .form-icon {
      box-shadow: 0 0 0 .1rem rgba($primary--rgb-triplet, .2);
      border-color: $primary;
    }
    &:checked + .form-icon {
      background: $primary;
      border-color: $primary;
    }
  }

  .form-icon {
    border-width: $border-width-md;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
  }

  // Input checkbox, radio and switch sizes
  &.input-sm,
  .form-group-sm & {
    font-size: $font-size-sm;
    margin: 0;
  }

  &.input-lg,
  .form-group-lg & {
    font-size: $font-size-lg;
    margin: ($control-height-lg - $control-height-sm) / 2 0;
  }
}

// Form validation states
.form-checkbox,
.form-radio,
.form-switch {
  .has-error &,
  &.is-error {
    .form-icon {
      border-color: $failure;
    }

    input {
      &:checked + .form-icon {
        background: $failure;
        border-color: $failure;
      }

      &:focus + .form-icon {
        box-shadow: 0 0 0 .1rem rgba($failure--rgb-triplet, .2);
        border-color: $failure;
      }
    }
  }
}
