@use "spectre.css/variables" as *;

// Autocomplete
.form-autocomplete {
  position: relative;

  .form-autocomplete-input {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: $control-height-md;
    padding: $unit-h;
    padding-top: $unit-1;

    &.is-focused {
      box-shadow: 0 0 0 .1rem rgba($primary--rgb-triplet, .2);
      border-color: $primary;
    }

    .form-input {
      border-color: transparent;
      box-shadow: none;
      display: inline-block;
      flex: 1 0 auto;
      height: $unit-6;
      line-height: $unit-4;
      margin: $unit-h;
      width: auto;
      border: 0;
      margin-left: 0;
      padding: calc($control-padding-y-md - $unit-h) calc($control-padding-x-md - $unit-h);

      &:focus-visible {
        outline: unset;
      }
    }
  }

  .menu {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  // &.autocomplete-oneline {
  //   .form-autocomplete-input {
  //     flex-wrap: nowrap;
  //     overflow-x: auto;
  //   }

  //   .chip {
  //     flex: 1 0 auto;
  //   }
  // }
}

.has-error {
  .form-autocomplete {
    .form-autocomplete-input {
      border-color: $failure;

      &.is-focused {
        box-shadow: 0 0 0 .1rem rgba($failure--rgb-triplet, .2);
      }

      .form-input {
        background-color: unset;
        box-shadow: unset;
      }
    }
  }
}
