@use "spectre.css/variables" as *;

// Empty states (or Blank slates)
.empty {
  background: $body-bg;
  border-radius: $control-border-radius;
  color: $body-fg;
  text-align: center;
  padding: $unit-16 $unit-8;

  .empty-icon {
    margin-bottom: $layout-spacing-lg;
  }

  .empty-title,
  .empty-subtitle,
  .empty-header {
    margin: $layout-spacing-md auto;
  }

  .empty-action {
    margin-top: $layout-spacing-lg;
  }
}
