@use "spectre.css/variables" as *;

.form-group {
  &:not(:last-child) {
    margin-bottom: $layout-spacing-md;
  }
}

.form-label {
  display: block;
  line-height: $line-height;
  padding: $control-padding-y-md + $border-width-md 0;

  &.label-sm,
  .form-group-sm & {
    font-size: $font-size-sm;
    padding: $control-padding-y-sm + $border-width-md 0;
  }

  &.label-lg,
  .form-group-lg & {
    font-size: $font-size-lg;
    padding: $control-padding-y-lg + $border-width-md 0;
  }
}

.form-input-hint {
  display: block;
  color: $body-fg-monochrome;
  font-size: $font-size-sm;

  &:first-of-type {
    margin-top: $unit-1;
  }

  &:last-of-type {
    margin-bottom: $unit-1;
  }

  // .has-success &,
  // .is-success + & {
  //   color: $success;
  // }

  .has-error &:first-of-type,
  .is-error + &:first-of-type {
    color: $failure;
  }
}

fieldset {
  margin-bottom: $layout-spacing-lg;
}

legend {
  font-size: $font-size-lg;
  font-weight: 500;
  margin-bottom: $layout-spacing-lg;
}

.form-group-required {
  .form-label::after,
  .form-checkbox::after,
  .form-checkbox-button::after {
    content: "*";
    color: $failure;
    margin-left: 0.2rem;
  }
}
