@use "spectre.css/variables" as *;

// Form element: Input
.form-input {
  appearance: none;
  background: $body-bg;
  background-image: none;
  border: $border-width-md solid gray;
  border-radius: $control-border-radius;
  color: $body-fg;
  display: block;
  font-size: $font-size-md;
  height: $control-height-md;
  line-height: $line-height;
  max-width: 100%;
  outline: none;
  padding: $control-padding-y-md $control-padding-x-md;
  position: relative;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  width: 100%;
  &:focus {
    box-shadow: 0 0 0 .1rem rgba($primary--rgb-triplet, .2);
    border-color: $primary;
  }
  &::placeholder {
    color: rgba($body-fg--rgb-triplet, 0.69);
  }

  // Input sizes
  &.input-sm {
    font-size: $font-size-sm;
    height: $control-height-sm;
    padding: $control-padding-y-sm $control-padding-x-sm;
  }

  &.input-lg {
    font-size: $font-size-lg;
    height: $control-height-lg;
    padding: $control-padding-y-lg $control-padding-x-lg;
  }

  &.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // &[type="file"] {
  //   height: auto;
  // }

  &.form-inline {
    display: inline-block;
  }
}

// Form element: Textarea
textarea.form-input {
  &,
  &.input-lg,
  &.input-sm {
    height: auto;
  }
}

// Form element: div[contenteditable]
div.form-input {
  height: auto;
  min-height: calc($line-height * 2);
}

// validation based on :placeholder-shown (Edge doesn't support it yet)
.form-input {
  &:not(:placeholder-shown) {
    &:invalid {
      border-color: $failure;
      &:focus {
        box-shadow: 0 0 0 .1rem rgba($failure--rgb-triplet, .2);
        background: rgba($failure--rgb-triplet, .5);
      }

      & + .form-input-hint {
        color: $failure;
      }
    }
  }
}

.form-input {
  &[readonly] {
    background-color: $body-bg;
  }
}

input {
  &:disabled,
  &.disabled {
    & + .form-icon {
      background: $body-bg-monochrome;
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
