@use "spectre.css/variables" as *;

.input-group {
  display: flex;

  .input-group-addon {
    background: $body-bg;
    border: $border-width-md solid gray;
    border-radius: $control-border-radius;
    line-height: $line-height;
    padding: $control-padding-y-md $control-padding-x-md;
    white-space: nowrap;

    &.addon-sm,
    .input-group-sm & {
      font-size: $font-size-sm;
      padding: $control-padding-y-sm $control-padding-x-sm;
    }

    &.addon-lg,
    .input-group-lg & {
      font-size: $font-size-lg;
      padding: $control-padding-y-lg $control-padding-x-lg;
    }

    .form-checkbox {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: calc($control-padding-y-md * -1);
      margin-bottom: calc($control-padding-y-md * -1);
    }
  }

  .form-input,
  .form-select {
    flex: 1 1 auto;
    width: 1%;
  }

  .btn {
    z-index: $zindex-0;
  }

  .form-input,
  .form-select,
  .input-group-addon,
  .btn {
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: calc($border-width-md * -1);
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: calc($border-width-md * -1);
    }
    &:focus {
      z-index: $zindex-0 + 1;
    }
  }

  .form-select {
    width: auto;
  }

  &.input-inline {
    display: inline-flex;
  }
}
