@use "spectre.css/variables" as *;

.form-radio {
  .form-icon {
    border-color: $body-bg-monochrome;
    border-radius: 50%;
  }

  input {
    &:checked + .form-icon {
      &::before {
        background: $body-bg-monochrome;
        border-radius: 50%;
        content: "";
        height: 6px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
      }
    }
  }

  &.form-inline {
    display: inline-block;
  }
}
