@use "spectre.css/variables" as *;

// Form element: Select
.form-select {
  appearance: none;
  border: $border-width-md solid gray;
  border-radius: $control-border-radius;
  color: inherit;
  font-size: $font-size-md;
  height: $control-height-md;
  line-height: $line-height;
  outline: none;
  padding: $control-padding-y $control-padding-x;
  vertical-align: middle;
  width: 100%;
  background: $body-bg;
  &:focus {
    box-shadow: 0 0 0 .1rem rgba($primary--rgb-triplet, .2);
    border-color: $primary;
  }
  &::-ms-expand {
    display: none;
  }

  // Select sizes
  &.select-sm,
  .form-group-sm &,
  .input-group-sm & {
    font-size: $font-size-sm;
    height: $control-height-sm;
    padding: $control-padding-y-sm ($control-icon-size + $control-padding-x-sm) $control-padding-y-sm $control-padding-x-sm;
  }

  &.select-lg,
  .form-group-lg &,
  .input-group-lg & {
    font-size: $font-size-lg;
    height: $control-height-lg;
    padding: $control-padding-y-lg ($control-icon-size + $control-padding-x-lg) $control-padding-y-lg $control-padding-x-lg;
  }

  // Multiple select
  &[size],
  &[multiple] {
    height: auto;
    padding: $control-padding-y $control-padding-x;

    option {
      padding: $unit-h $unit-1;
    }
  }
  &:not([multiple]):not([size]) {
    background: $body-bg url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center / .4rem .5rem;
    padding-right: $control-icon-size + $control-padding-x;
  }

  &.form-inline {
    display: inline-block;
  }
}
